#filtrosLateral {
  float: left;
  height: 100vh;
  width: 20vw;
  margin-right: 2em;
  background-color: rgba(234, 231, 231, 0.6);
}

.filtroEspecifico {
  border-bottom: 2px solid #f0ead2;
  margin: 1em;
}
