#filtroCategoria {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.filtroAnimal {
  display: flex;
  margin-left: 2em;
  background-color: #dde5b6;
  width: 10vw;
}

.filtroAnimal:hover {
  background-color: #adc178;
}

.filtroAnimal img {
  margin-right: 1em;
  width: 3vw;
}

.filtroAnimal p {
  align-self: center;
  font-size: large;
}

#imgGato img{
  height: 5vh;
  margin-top: 1vh;
  margin-left: 1vh;
}
