#filtrosLateral {
  float: left;
  height: 100vh;
  width: 18vw;
  margin-right: 2em;
  background-color: rgba(234, 231, 231, 0.6);
}

.filtroEspecifico {
  border-bottom: 2px solid #f0ead2;
  margin: 1em;
}

.filtroEspecifico h4 {
  font-weight: lighter;
  text-align: start;
}

#filtrosLateral h3 {
  color: #a98467;
}
#filtros {
  background-color: #a98467;
  color: white;
}
