
.seccion {
  border-top: 2px solid rgba(165, 164, 164, 0.5);
  margin: 2em;
}

/* #divSignupPage{
    max-width: 400px;
    min-width: 200px;
} */

#btnSignUp2{
    background-color: #ADC178;;
    color: white;
  }

  #btnLogIn2:hover {
    background-color: #F0EAD2;
    color: #A98467;
    text-decoration: none;
  }

  #btnLogIn2 {
    color: #A98467;
    text-decoration: none;
  }
