.imagenUser {
  border-radius: 5%;
}

#botonUser {
  background-color: #adc178;
  font-size: 1.2rem;
}

#containerDescription {
  border: 2px 2px #a98467;
}

#btSend {
  background-color: #a98467;
  color: white;
}
