nav {
  background-color: white;
  width: 100vw;
}

#logo {
  width: 50vw;
}

@media (min-width: 768px) {
  #logo {
    width: 20vw;
  }
}

#btSignUp {
  background-color: #a98467;
  color: white;
}

#btLogOut {
  background-color: #a98467;
  color: white;
}

#btLogIn:hover {
  background-color: #f0ead2;
  color: #a98467;
}

