#btnLogIn{
    background-color: #ADC178;;
    color: white;
  }

  #btnSignUp:hover {
    background-color: #F0EAD2;
    color: #A98467;
    text-decoration: none;
  }

  #btnSignUp {
    color: #A98467;
    text-decoration: none;
  }

  #divLogginPage{
    max-width: 800px;
    min-width: 200px;
    margin: auto;
    border-radius: 10%;
    background-color: #F0EAD2;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

  