#divEdit {
  max-width: 800px;
  margin: auto;
}

#formEdit {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.editBtn {
  margin-right: 4vw;
}

@media (min-width: 1140px) {
/* 

  #formEdit {
    display: flex;
    justify-content: space-between;
    margin: 3%;
  } */

  /* #formEdit form {
    width: 70vw;
  } */
}
