/*
#F0EAD2 beige claro
#DDE5B6 verde claro
#ADC178 verde fuerte
#A98467 marrón claro
#6C584C marrón fuerte
*/
#fotoAnimal {
  height: 40vh;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.imagenAnimal {
  border-radius: 5%;
  object-fit: cover;
  position: relative;
  height: 75vh;
}

.botonAdoptar {
  background-color: #adc178;
  font-size: 1.2rem;
  margin: auto;
}

.botonAdoptar:hover {
  background-color: #adc178;
}
#btSend {
  background-color: #a98467;
  color: white;
}

.penEdit {
  width: 3vw;
}

/* #description {
  text-align: justify;
} */
