#primerSlide {
    background-color:linear-gradient(to bottom right, #F0EAD2, #A98467) ;
    display: flex;
    align-items: center;
}

#primerSlide img {
    height: 100vh;
}

#primerSlide h1 {
    font-size: 100px;
}

#containerHome {
    background-image: linear-gradient(to bottom right, #F0EAD2, #A98467);
}

@media (max-width: 600px) {
    #amigo {
        display: none;
    }
}
@media (max-width: 600px) {
    #primerSlide {
        justify-content: center;
    }
}
