#portada {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#imagen2 img {
  width: 48vw;
  float: right;
  margin-top: 5%;
}

#imagen1 img {
  width: 50vw;
  float: left;
}

@media (max-width: 1023px) {
  h2 {
    font-size: 1px;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #tituloPortada {
    background-color: rgba(255, 255, 255, 0.5);

    position: absolute;
    margin-top: 10%;
    margin-left: 32%;
    color: #6c584c;
    padding: 2em;
  }
}

@media (min-width: 1025px) {
  #tituloPortada {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin-top: 13%;
    margin-left: 38%;
    padding: 2em;
    color: #6c584c;
    text-shadow: 1px 1px 5px white;
  }
}
